a {
    color: #e4e4e4;;
    text-decoration: none;
}

.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
}

.sidebar {
    display: grid;
    grid-auto-rows: min-content;
    padding: 35px;
    gap: 60px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    background-color: #3496ec;
}

.sidebar h1 {
    grid-row: 1 / 2;
    font-size: 45px;
    font-weight: 900;
}

.sidebar .nav ul,
.sidebar .help ul {
    display: grid;
    gap: 10px;
}

.profilepicture {
    background-image: url(assets/pexels-alexis-ricardo-alaurin-18128533.jpg);
    background-position-y: center;
    background-position-x: 75%;
    background-size: 200%;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.header {
    padding: 10px 40px;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    background-color: rgb(247, 247, 247);
}

.searchbar {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    height: 45px;
}

.searchbar button {
    background-color: transparent;
    border: none;
}

.searchbar input {
    padding: 0 10px;
    border-radius: 25px;
    border: none;
    background-color: #cfe0ee;
    height: 40px;
    width: 90%;
    margin-left: 20px;
}

.searchbar input:focus {
    outline: none;
}

.userbar {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.userbar i {
    justify-self: end;
}

.username {

    font-size: 25px;
    font-weight: 600;
}

.userbar .profilepicture {
    width: 80px;
    height: 80px;
}

.greetings {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 20px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
}

.greetings p span {
    font-size: 30px;
}

.buttonscontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.buttons {
    color: white;
    font-weight: 600;
    font-size: 20px;
    height: 45px;
    width: 115px;
    border-radius: 20px;
    border: none;
    background-color: #3496ec;
}

.maincontent {
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-column: 2 / 6;
    grid-row: 2 / 6;
    background-color: #cfe0ee;
}

.projects {
    display: grid;
    padding: 40px 20px;
    align-items: center;
    gap: 40px;
    grid-column: 1 / 2;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 1fr;
}

.card  {
    border-left: solid 10px #ecc235;
    padding: 40px 20px;
    box-shadow: 3px 3px 5px #adadad;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}

.cardtitle {
    font-size: 25px;
    font-weight: 600;
}
.cardtext {
    color: #636363;
    margin-top: 15px;
    margin-right: 50px;
}

.cardbuttons {
    margin-top: 30px;
    margin-left: auto;
    width: 150px;
}

.cardbutton {
    border: none;
    background-color: transparent;
}

.maincontent h4 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    font-weight: 600;
    font-size: 30px;
}

.rightsidecontent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
}

.announcements {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 1fr;
    grid-row: 1 / 2;
    padding: 40px 20px;
}

.announcements h4 {
    font-weight: 600;
    font-size: 30px;
}

.announcements .box {
    display: grid;
    gap: 20px;
    padding: 40px 20px;
    grid-template-rows: repeat(auto-fit, 1fr);
}

.trending {
    padding: 40px 20px;
    grid-row: 2 / 3;
}

.box {
    border-radius: 10px;
    box-shadow: 3px 3px 5px #adadad;
    margin-top: 20px;
    background-color: white;
}
.announcement {
    border-bottom: solid 1px #636363;
    padding-bottom: 5px;
}

.announcementtitle {
    font-weight: 600;
}

.announcementtext {
    color: #636363;
    margin-top: 5px;
}

.trending .box {
    display: grid;
    padding: 40px 20px;
    gap: 10px;
    grid-template-rows: repeat(auto-fit, 1fr);
}

.profile {
    display: grid;
    text-align: left;
    grid-template-columns: 80px;
    grid-template-rows: 1fr 1fr;
}

.trendingprofiles {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.at {
    align-self: end;
    font-size: 20px;
    font-weight: 400;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.persondesc {
    color: #adadad;
    font-size: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#mrwhiskers {
    background-image: url(assets/pexels-guillaume-meurice-1317844.jpg);
    background-position-y: 33%;
    background-position-x: 42%;
    background-size: 200%;
}

#meowmeow {
    background-image: url(assets/pexels-alena-koval-982300.jpg);
    background-position-y: 27%;
    background-position-x: 51%;
    background-size: 155%;
}

#kittycat {
    background-image: url(assets/pexels-evg-kowalievska-1170986.jpg);
    background-position-y: 34%;
    background-position-x: 61%;
    background-size: 236%;
}

#fluff {
    background-image: url(assets/pexels-just-a-couple-photos-3777622.jpg);
    background-position-y: 27%;
    background-position-x: 51%;
    background-size: 155%;
}